<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Full-Stack Software Engineer at
      <a class="underline-link" href="https://www.jumpseller.com/" target="_blank">Jumpseller</a> building e-commerce solutions to provide ease of buying and selling for everyone. I am also pursuing MS(SE) at
      <a class="underline-link" href="https://www.ut.ee/" target="_blank">University of Tartu</a> (2019-2021) which has recently broke into the list of top 300 universities of the World in QS Rankings. Prior to that, I worked as a Software Developer at
      <a class="underline-link" href="https://www.square63.com/" target="_blank">Square63</a>, a software agency where I provided my skills to companies in domain of border control, music streaming, event management and fintech.
    </p>

    <p>
      As a software engineer, I like to write code that is beautiful and maintainable in the long run. My main focus is not only to provide quality, but also add a touch of elegance to it.
      Coming from a Ruby/Rails background, I just not only want to get things done, I want to get them done in a beautiful manner as far as codebase is concerned. And different programming languages do not restrict me to achieve that in an unfamiliar environment.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm cooking different kinds of meals, playing cricket and going out for a leisurely walk in the beautiful city of Tartu, which is going to be the European Capital of Culture in 2024.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
